<p>
  <strong>user name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>gender:</strong>
  <%= @user.gender %>
</p>

<p>
<strong>avatar:</strong>
    <%= if @user.avatar.file?
            image_tag @user.avatar.url(:thumb)
        else
            image_tag "no_avatar.png"
        end %>
</p>

