<% cache do %>
<% content_for :title, "About" %>
<div class="col-md-8 col-md-offset-2">
  <p>
  Hungry Foodies is the place where people can post food discount (or FREE food!) information.
  Everyone can view the food discount available near their geographic location.
  Login users can also upvote, downvote or leave reviews for posts.
  </p>
</div>
<% end %>
