<% content_for :title, "Contact" %>
<h3>Admin For Hungry Foodies</h3>
  <table>
    <tr>
      <td>
        <div class = "col-xs-6 col-md-3">
          <img width="100px" src="images/qd.jpg">
        </div>
      </td>
      <td>
        <div class = "col-xs-6 col-md-3">
          <img width="100px" src="images/ts.jpg">
        </div>
      </td>
      <td>
        <div class = "col-xs-6 col-md-3">
          <img width="100px" src="images/pb.jpg">
        </div>
      </td>
      <td>
        <div class = "col-xs-6 col-md-3">
          <img width="100px" src="images/ml.jpg">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class = "col-xs-12 col-md-9">
          <a href="mailto:dingqiuhan@gmail.com">Qiuhan Ding</a>
          </div>
      </td>
      <td>
        <div class = "col-xs-12 col-md-9">
          <a href="mailto:tielong@ucla.edu">Tielong Su</a>
          </div>
      </td>
      <td>
        <div class = "col-xs-12 col-md-9">
          <a href="mailto:bianpengyuan@gmail.com">Pengyuan Bian</a>
          </div>
      </td>
      <td>
        <div class = "col-xs-12 col-md-9">
          <a href="mailto:raymond12365@gmail.com">Meng Li</a>
          </div>
      </td>
    </tr>
  </table>
