<% content_for :title, "Hungry Foodies" %>
<div class="posts">
      <div class="container">
        <div class="row">

          <div class="col-md-8">
            <% @posts.in_groups_of(3).each do |posts| %>
              <% posts.select! {|x| !x.nil?} %>
              <div class='row'>
                <% posts.each do |post| %>
                  <div class='col-md-4'>
                      <div class="thumbnail">
                        <%= if File.exists? post.post_image.url
                                link_to image_tag(post.post_image.url), post
                            else
                                link_to image_tag("default.png"), post
                            end
                        %>
                        <div class="caption">
                            <%= link_to post.title, post %>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>

      </div>
    </div>

