<% content_for :title, "Hungry Foodies" %>
<div class="container marketing">
<% @posts.in_groups_of(3).each do |posts| %>
<% posts.select! {|x| !x.nil?} %>
<div class="row">
      <% posts.each do |post| %>
        <div class="col-xs-4">
          <%= if post.pictures.empty?
                  link_to image_tag("default.png", class: 'postImage'), post
              else
                  link_to image_tag(post.pictures.first.image.url, class: 'postImage'), post
              end
          %>
          <h2><%= post.title%></h2>
          <p class="scrollText"><%= post.content%></p>
          <p><%= link_to "View details", post %></p>
        </div><!-- /.span4 -->
        <%end%>
      </div><!-- /.row -->
    <%end%>
    </div>
