<table class="table table-hover">
<%@unread_comm.each do |post, unread_count|%>
  <tr>
    <td>
            
      
      <div class="col-xs-20"> <%= link_to post do %> <%=post.title%> <span class="badge"><%=unread_count%></span>
      <% end %></div>
  

    </td>
  </tr>
<%end%>
</table>
