<div class="col-xs-8 col-md-offset-2">

<h2 class="titleFont">New Post</h2>

<%= render 'newAndEdit_form' %>
<div class="col-xs-3"><%= link_to 'Back', posts_path, :class=>"btn btn-default" %></div>

</div>
