<footer class="footer textFont">
<p>Designed by a group of Foodies</p>
<ul class="footer-links">
  <li>Team Newbie</li>
  <li>&middot;</li>
  <li><a
  href="https://github.com/scalableinternetservices/Newbie">GitHub</a></li>
  </ul>
</footer>
<%= yield :scripts %>

